@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ДИПЛОМЕН ПРОЕКТ </h1>
    <h1 class="display-4">  2021 / 2022 учебна година </h1>

    <img src="pepper.png" alt="Library" width="20%" />
    
    <img src="pepper-bag-green1.jpg" alt="Library" style="width: 50%; opacity: 0.5" />
   
    <img src="pepper.png" alt="Library" width="20%" />

    <h4> A universal tool for peking chushkas... </h4>
</div>
